.modal-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.modal-box {
  width: 80%;
  font-size: 1.6rem;

  button {
    font-size: 1.6rem;
    text-transform: capitalize;
  }

  // 400px
  @media only screen and (min-width: 25em) {
    font-size: 1.9rem;

    button {
      font-size: 1.8rem;
    }
  }

  input {
    height: 3rem;
    font-size: 1.6rem;
  }
  label,
  ::placeholder {
    text-transform: capitalize;
  }
}
