.modal-box {
  font-size: 1.9rem;

  input {
    height: 3rem;
    font-size: 1.6rem;
  }

  label,
  ::placeholder {
    text-transform: capitalize;
  }

  button {
    font-size: 1.6rem;
  }
}
