form {
	position: relative;
}

input {
	width: 100rem;
	height: 4rem;
	margin-right: .5rem;
	outline: none;
	font-size: 1.8rem;
	border-radius: 4px;
	border: none;
}

.btn {
	padding: 1rem;
	outline: none;
	border: none;
	color: #fff;
	transition: all .3s ease-out;
}

.btn:hover {box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);}

.btn:active {
	/* transform: translateY(3px); */
	/* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1); */
}

.btn-add {
	background-color: #341f97;
	font-size: 2rem;
	position: absolute;
	top: 0;
	right: 1px;
}

.btn-add:hover {background-color: #5f27cd;}
/* 
.btn-clear {
	background-color: #341f97;
	position: absolute;
	top: 0;
	right: -7rem;
	font-size: 1.8rem;
}

 .btn-clear:hover {background-color: #5f27cd;}
 */


.btn-delete,
.btn-complete  {
	text-align: center;
	height: 100%;
	padding: .6rem 1rem;
}
.btn-delete  {
	background-color: #c0392b;
	padding: .7rem 1rem;
}

.btn-delete:active,
.btn-complete:active {transform: translateY(0);}

.btn-delete:hover {
	background-color: #e74c3c;
}

.btn-complete {
	background-color: #27ae60;
	margin: 0;
	padding: .7rem 1rem;
}
.btn-complete:hover {background-color: #0fd3a2;}


/* this is the div contains the select */
.select {
	margin-left: 1.5rem;
	position: relative;
	overflow: hidden;
}

/* this is the select itself */
/* .filter-todo {
	outline: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #9980fa;
	width: 15rem;
	cursor: pointer;
	padding: 1.5rem;
}

.select::after {
	content: "\25BC";
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.6rem;
	pointer-events: none;
	background-color: #9980fa;
	transition: all .3s ease;
	/* font-size: 12px; */
/* } */
/*
.select:hover::after {
	background-color: #fff;
	color: #9980fa;
} */