form {
	position: relative;
}

input {
	width: 30rem;
	height: 4rem;
	margin-right: .5rem;
	outline: none;
	font-size: 1.8rem;
}

.btn {
	padding: 1rem;
	outline: none;
	border: none;
	color: #fff;
	transform: translateY(0);
	transition: all .3s ease-out;
}

.btn:hover {box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);}

.btn:active {
	transform: translateY(3px);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.btn-add {
	background-color: #0abde3;
	font-size: 2rem;
	position: absolute;
	top: 0;
	right: 0;
}

.btn-add:hover {background-color: #48dbfb;}

.btn-clear {background-color: #341f97;}

.btn-clear:hover {background-color: #5f27cd;}



.btn-delete,
.btn-complete  {
	text-align: center;
	height: 100%;
	padding: .6rem 1rem;
}
.btn-delete  {
	background-color: #c0392b;
	padding: .7rem 1rem;
}

.btn-delete:active,
.btn-complete:active {transform: translateY(0);}

.btn-delete:hover {
	background-color: #e74c3c;
}

.btn-complete {
	background-color: #27ae60;
	margin: 0;
}
.btn-complete:hover {background-color: #10ac84;}