.modal-container,
.countdown-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4rem;
  border-radius: 1rem;
  text-transform: capitalize;
}

.modal-title {
  font-size: 3rem;
  text-align: center;
}

.input-label {
  font-size: 1.6rem;
  font-weight: 700;
}

/* to overwrite bootstrap styles */
.form-input {
  border-radius: 2.5rem !important;
}

.btn-modal {
  border-radius: 2.5rem !important;
  font-size: 1.6rem !important;
  margin-top: 2rem;
  text-transform: inherit;
}

/* countdown styles */

.countdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.countdown-container > div {
  display: flex;
  align-items: center;
  width: 100%;
}

.countdown__numbers {
  justify-content: space-around;
}

.countdown__numbers h2 {
  font-size: 6rem;
}

.countdown__words {
  justify-content: space-evenly;
}

.countdown__words h3 {
  font-size: 3rem;
  font-weight: 400;
}
