.list {
    position: fixed;
    top: 3rem;
}

nav .list-item {
    font-size: 2rem;
    text-transform: uppercase !important ;
    color: var(--primary-color) !important;
    cursor: pointer;
    transition: .3s all ease-out !important;
}

nav .list-item:hover {
    background-color: transparent !important;
    color: var(--on-background) !important;
}