.column-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}


.column {
    width: fit-content !important;
    height: fit-content !important;
    margin: 2rem 0;
}

.card-container {
    box-shadow: var(--box-shadow) !important;
    border: 1px solid var(--secondary-color) !important;
    border-radius: 5px !important;
    padding: 1rem !important;
    cursor: pointer;
    text-align: center;
    background-color: var(--background) !important;
}

.image-container {
    background-color: var(--background) !important;
}


.image-container img {
    height: 30rem !important;
    margin-bottom: 2rem;
    transition: transform .3s ease-out;
}

.card-container:hover img {
    transform: scale(1.05);
}
.card-container .content a {
    color: var(--on-background) !important;
}

@media screen and (min-width: 43.75em) { /* 700px */
    .column {
        width: 25rem !important;
        margin: 2rem;
    }

    .column-container {
        flex-direction: row;
    }
}


@media screen and (min-width: 50em) { /* 800px */
    .column {
        width: 30rem !important;
    }
}
  
 @media screen and (min-width: 62.5em) { /* 1000px */
    .column {
        width: fit-content !important;
    }
}
