.column {
    width: fit-content !important;
    height: fit-content !important;
    cursor: pointer
}

.card-container {
    box-shadow: var(--box-shadow) !important;
    border: 1px solid var(--secondary-color) !important;
    border-radius: 5px !important;
    padding: 1rem !important;

    text-align: center;
}

.image-container {
    background-color: var(--background) !important;
}


.image-container img {
    height: 30rem !important;
    margin-bottom: 2rem;
    transition: transform .3s ease-out;
}

.card-container:hover img {
    transform: scale(1.05);
}
.card-container .content a {
    color: var(--on-background) !important;
}